
#word{
    height: 6vh;
    display: flex;
    align-items: center;
    position: absolute;
    width: min-content;
    padding: 0 1em;
    color: var(--primary);
    transition: top 0.4s linear;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 3px;
    // border-radius: 50px;
    
    &.active{
        background: var(--primary);
        color: var(--bg);
    }
}